.vscode/**
.vscode-test/**
out/test/**
data/**

.github/workflows
eslint.config.mjs
.node-version
.npmrc

src/**
.gitignore
.yarnrc
.prettierrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
